{% load i18n %}
<style>
#social-panels-handler {
    position: fixed;
    background: white;
    border: 1px solid #111;
    top: 125px;
    right: 0;
    z-index: 100000000;
    opacity: .75;
}
#social-panels-button {
    display: block;
    height: 130px;
    width: 35px;
    padding: 2px;
    border-right: none;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    border-left: 4px solid white;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-indent: -999999px;
    background: black url("/static/images/social-panel.png") no-repeat center center;
    opacity: .5;
}

a#social-panels-button:hover {
    border-color: yellow;
    width: 40px;
    opacity: 1;
}

#social-panels-list {
    display: none;
    position: fixed;
    background: white;
    top: 60px;
    right: 0;
    border: 1px solid #DDD;
    -webkit-border-radius: 10px 0 0 10px;
          -moz-border-radius: 10px 0 0 10px;
               border-radius: 10px 0 0 10px;

   	-webkit-box-shadow: #244766 5px 5px 10px;
   	   -moz-box-shadow: #244766 10px 10px 10px;
   	        box-shadow: #244766 10px 10px 10px;    
}

#social-panels-list ul li{
    padding: 5px;
    width: 200px;
    border-bottom: 1px solid #DDD;
}
    #social-panels-list .social-panels-hide {
        text-align: center;
    }
    #social-panels-list .panel-title {
        color: #999;
    }
    #social-panels-list .panel-content {
        text-align: center;
    }    
</style>

<script type="text/javascript">
$('document').ready(function() {
    $(window).resize(function(e) {
        if ($(this).width() >= 1410) {        
            $("#social-panels-handler").hide();
            $('#social-panels-list').show();
        } else {
            $("#social-panels-handler").show();
            $('#social-panels-list').hide();
        }
    });
    if ($(window).width() >= 1410) {        
        $("#social-panels-handler").hide();
        $('#social-panels-list').show();
    }
    $('#social-panels-button').click(function(e) {
        $("#social-panels-handler").hide();
        $('#social-panels-list').show();
    })
    $('li.social-panels-hide a').click(function(e) {
        $('#social-panels-list').hide();
        $('#social-panels-handler').show();
    });  
});
</script>
<div id="social-panels-handler">
    <a href="#" title="{% trans 'Show Panels' %}" id="social-panels-button">title</a>
</div>
<div id="social-panels-list">
    <ul class="unstyled">
        <li class="social-panels-hide"><a href="#" class="btn">{% trans "Hide" %} »</a></li>
        {% for panel in panels %}
            <li>
                <div class="panel-title">
                    {{ panel.title }}
                </div>
                <div class="panel-content">
                    {{ panel.content}}                        
                </div>
            </li>
        {% endfor %}
    </ul>
</div>