<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="#">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css">	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.13.custom.css" >    
	<link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqtransform.js"></script>    
	<script type="text/javascript" src="{{ STATIC_URL }}js/socialapps.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/facebox.js"></script>	
	
	{% block extra_css %}{% endblock %}
	{% block extra_js  %}{% endblock %}
	{% block extra_jscript %}{% endblock %}
</head>


<body>
{% block content_tabs %}{% endblock %}


{% block content %}{% endblock %}
</body>
</html>
