<!DOCTYPE html >
<html lang="es-es">
<head> 
	<title>{% block title %}{% endblock %}</title> 
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="#"> 

    {% block extra_css%}{% endblock%}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">		
	<link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blue.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css">
	
	<script src="{{ STATIC_URL }}js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/accounts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/facebox.js"></script>

    {% block extra_js%}{% endblock%}
    {% block extra_script%}{% endblock%}
    <script type="text/javascript">
    $(document).ready(function(){
        $(".messages").fadeIn(2000).fadeTo(2000, 1).fadeOut(1000);
        $("#message-container").fadeIn(2000).fadeTo(2000, 1).fadeOut(1000);        
    });
    </script>
 
</head> 
<body> 
    <div class="messages">
	  {% if messages %}
	  <ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
	  </ul>
	  {% endif %}
	</div>
	
    {% block content %}
    {% endblock %}
</body> 
</html>

