{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load socialstream_tags %}
{% load space_tags %}
{% load courses_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dash.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/calendars.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/spaces.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
{% endblock %}

{% block extra_script %}
<script id="statusDashTemplate" type="text/x-jquery-tmpl">
<div class="post">
    <div class="avatar">
        <img src="${creator.avatar_url}" alt="Photo of ${creator.first_name} ${creator.last_name}" class="photo" />
    </div>
    <h1><a href="#"> ${creator.first_name} ${creator.last_name}</a></h1>
    <h2>${object.description}</h2>
    <h3>${object.created}</h3>
</div>   
</script>

<script language="javascript"> 

function showStatus(data, statusText, xhr, $form) {
    if(data.success) {
        $('#statusDashTemplate').tmpl(data.comment).hide().prependTo('#body-stream').slideDown('slow');
        $($form).resetForm();
    	$("#id_posting").animate({"height": "30px",}, "fast" );
		$(".media-send.status").slideUp("fast");
		$("#name").show("slow");
        $('.errorlist').html('');
        $('#count').html(250);
    } else {
        for (var key in data) {
            for (var error in data[key]) {
                $("#field-error-" + key + " ul").html('<li>'+ data[key][error] +'</li>');
            }
        }
    }
}

jQuery(function($){
  $("#id_posting").Watermark("What's up?");
  });
  $(document).ready(function() {
    $('.status_form').ajaxForm({ dataType: 'json', success: showStatus });
  });
      
$(function() {
//	$("#button_block").hide();
    /* events for satus form of dashboard */
	$("#area-content").focus(function()
//	{	$(this).animate({"height": "60px",}, "fast" );
//		$("#button_block").slideDown("fast");
    {
		$("#name").hide();
		return false;
	});

	$("#cancel").click(function() {
		$("#area-content").val('');	
		return false;
	});

/*	$(".status_form").focusout(function(event) {
        if(!$(event.target).is($('.status-form input'))) {
        }
	});*/

});
</script>
{% endblock %}

{% block body_id %}dash{% endblock %}

{% block extra_messages %}
    {% if messages_new_count %}
    <ul class="notify">
        <li><a href="/messages">{{ messages_new_count }} {% trans "new messages" %}, {% trans "click to read" %}</a></li>   
    </ul>
    {% endif %}    
{% endblock %}
{% block content %}
<div class="row">

<!-- Inicia menu1 en panel izquierdo-->
<div class="span6">
	{%if not user.first_name and not user.last_name %}
		<div class="alert-message block-message info fade in">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<p><strong>{% trans "Oops!" %}</strong>{% trans " your profile is incomplete, we welcome you to finish it." %}</p>
			<div class="alert-actions">
				<a class="btn small" href="{% url profile_edit user %}">{% trans "Fill in now" %}</a>
			</div>
		</div>
	{% endif %}
	
	<div class="widget">
		<div class="dashboard-form">  
            {%  socialstream_status_form user.get_profile %}
		</div>
	</div>
<!-- Inicia widget izquierdo-->
	<div class="widget">		
		<div id="stream-avatar">
			<!-- <ul id="nav-menu">
				<li class="current"><a href="#">All</a></li>			
				<li><a href="#">My Courses</a></li>
				<li><a href="#">My Spaces</a></li>								
			</ul>     -->
			<div id="body-stream">      
            {% get_friends_stream for user.get_profile as stream %}
            {% if stream.activities %}
                {% for item in stream.activities %}
			        <div class="post">
				        <div class="avatar">
                            <img src="{% avatar_url item.activity_object.creator 48 %}" alt="Photo of {{ item.activity_object.creator.username }}" class="photo" />
				        </div>
				        <h2><a href="{{ item.actor.get_absolute_url }}">{{ item.actor.name }}</a></h2>
                        {% if item.collapsed %}
                            <h2>
                                {{ item.verb }}
                                {% trans "a" %}
                                <a href="{% url activity_detail item.id %}" rel="facebox[.social_item]">{{ item.activity_object_content_type }}</a>
                                {% trans "on" %}
                                <a href="{{ item.target.get_absolute_url }}">{{ item.target }}</a>
                            </h2>
                        {% else %}
                            <h2>
                            {% if item.activity_object.url %}
                                <a href="{{ item.activity_object }}" target="blank">{{ item.activity_object}}</a>
                            {% else %}
                                    {% if item.activity_object.description|length > 100 %}
                                        {{ item.activity_object.description|slice:"100"|add:".." }}
                                        <a class="social-dash-more" href="{% url activity_detail item.id %}" rel="facebox[.social_item]">{% trans "View more" %}</a>                                        
                                    {% else %}
                                        {{ item.activity_object.description }}
                                    {% endif %}
                            {% endif %}
                            </h2>
                        {% endif %}
                        <h3>{{ item.activity_object.date_string }}</h3>
                    </div>
                {% endfor %}
                {% if stream.more %}
                    <div class="more-activity dash">
                        <div class="view-more">
                            <a id="more-activity" class="btn primary" href="/social/?ct={{stream.ct}}&id={{stream.parent.id}}&option=friends">{% trans "view more" %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
	</div> 	<!-- Termina menu1 en panel izquierdo-->
	</div> 	<!-- Termina widget izquierdo-->	
	<!-- Inicia menu2 en panel derecho-->		
	<div class="span6">

				<ul id="existed" class="ctrotator">

                    {% for announcement in site_wide_announcements %}	
                    <li><a class="rotator_item" href="{{ announcement }}"><p>{{ announcement.description }}</p></a></li>                        
                     {% endfor %}	
                      
			     
				</ul> 
                
				<!-- <script type="text/javascript"> 
				var dataSource = new ctRotatorBridgeLi($('#existed')).getDataSource();  
				$('#existed').ctRotator(dataSource, { 
				  speed:2500,
				  showCount:2,  
				});  
				</script>  -->

                <div class = "widget">
				{% show_course_widget 5 request.user %}
				</div>
				
				<div class = "widget">
                {% show_space_widget 5 request.user %}
				</div>
				
										      
			 </div> <!-- Termina widget -->
			

			
			
			
		</div><!-- Termina menu2 en panel derecho-->

</div>
{% endblock %}
