{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load socialstream_tags %}
{% load space_tags %}
{% load courses_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dash.css">
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/calendars.css"/> -->
{% endblock %}

{% block extra_js %}
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/datepicker.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script> -->
{% include "socialstream/json_templates.html" %}
{% endblock %}

{% block body_id %}dash{% endblock %}

{% block extra_messages %}
    {% if messages_new_count %}
    <ul class="notify">
        <li><a href="/messages">{{ messages_new_count }} {% trans "new messages" %}, {% trans "click to read" %}</a></li>   
    </ul>
    {% endif %}    
{% endblock %}
{% block content %}
<div class="row">

<!-- Inicia menu1 en panel izquierdo-->
<div class="span6">
	{%if not user.first_name and not user.last_name %}
		<div class="alert fade in">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<p><strong>{% trans "Hey!" %}</strong>{% trans " your profile is incomplete, please fill it" %}</p>
			<div class="alert-actions">
				<a rel='facebox' class="btn small" href="{% url profile_edit user %}">{% trans "Fill in now" %}</a>
			</div>
		</div>
	{% endif %}
	
	<div class="widget">
		<div class="widget-content dashboard-form">  
	           {%  socialstream_status_form user.get_profile %}
		</div>
	</div>
<!-- Inicia widget izquierdo-->
	<div class="widget">		
		<div id="stream-avatar">
			<!-- <ul id="nav-menu">
				<li class="current"><a href="#">All</a></li>			
				<li><a href="#">My Courses</a></li>
				<li><a href="#">My Spaces</a></li>								
			</ul>     -->
			<div id="body-stream">      
            {% get_friends_stream for user.get_profile as stream %}
            {% if stream.activities %}
                {% for item in stream.activities %}
			        <div class="post">
				        <div class="avatar">
                            <img src="{% avatar_url item.activity_object.creator 48 %}" alt="Photo of {{ item.activity_object.creator.username }}" class="photo" />
				        </div>
				        <h2><a href="{{ item.actor.get_absolute_url }}">{{ item.actor.name }}</a></h2>
                        {% if item.collapsed %}
                            <h2>
                                {{ item.verb }}
                                {% trans "a" %}
                                <a href="#modal-dialog" class="modal-launch-button" data-content="{% url activity_detail item.id %}" data-toggle="modal">{{ item.activity_object_content_type }}</a>
                                {% trans "on" %}
                                <a href="{{ item.target.get_absolute_url }}">{{ item.target }}</a>
                            </h2>
                        {% else %}
                            <h2>
                            {% if item.activity_object.url %}
                                <a href="{{ item.activity_object }}" target="blank">{{ item.activity_object}}</a>
                            {% else %}
                                    {% if item.activity_object.description|length > 100 %}
                                        {{ item.activity_object.description|slice:"100"|add:".." }}
                                        <a class="social-dash-more" href="{% url activity_detail item.id %}" rel="facebox[.social_item]">{% trans "View more" %}</a>                                        
                                    {% else %}
                                        {{ item.activity_object.description }}
                                    {% endif %}
                            {% endif %}
                            </h2>
                        {% endif %}
                        <h3>{{ item.activity_object.date_string }}</h3>
                    </div>
                {% endfor %}
                {% if stream.more %}
                    <div class="more-activity dash">
                        <div class="view-more">
                            <a id="more-activity" class="btn primary" href="/social/?ct={{stream.ct}}&id={{stream.parent.id}}&option=friends">{% trans "view more" %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
	</div> 	<!-- Termina menu1 en panel izquierdo-->
	</div> 	<!-- Termina widget izquierdo-->	
	<!-- Inicia menu2 en panel derecho-->		
	<div class="span6">

				<ul id="existed" class="ctrotator">

                    {% for announcement in site_wide_announcements %}	
                    <li><a class="rotator_item" href="{{ announcement }}"><p>{{ announcement.description }}</p></a></li>                        
                     {% endfor %}	
                      
			     
				</ul>                 
                <div class = "widget">
					<!-- My resources widget -->	
					<div class="title">
						<ul class="nav nav-pills">
						    <li class="active"><a href="#mycourses" data-toggle="pill">{% trans 'My Courses' %}</a></li>
						    <li><a href="#myspaces" data-toggle="pill">{% trans 'My Spaces' %}</a></li>
				    	</ul>
					</div>
					<div class="widget-content">
						<div class="tab-content">
							<div id="mycourses" class="tab-pane active">
								{% show_course_widget 5 request.user 'my' %}
							</div>
							<div id="myspaces" class="tab-pane">
								{% show_space_widget 5 request.user 'my' %}
							</div>
						</div>
					</div>
				</div>
				
				<div class = "widget">
					<!-- All resources widget -->	
					<div class="title">
						<ul class="nav nav-pills">
						    <li class="active"><a href="#allcourses" data-toggle="pill">{% trans 'All Courses' %}</a></li>
						    <li><a href="#allspaces" data-toggle="pill">{% trans 'All Spaces' %}</a></li>
				    	</ul>
					</div>
					<div class="widget-content">
						<div class="tab-content">
							<div id="allcourses" class="tab-pane active">
								{% show_course_widget 5 request.user 'all' %}
							</div>
							<div id="allspaces" class="tab-pane">
								{% show_space_widget 5 request.user 'all' %}
							</div>
						</div>
					</div>
				</div>												      
		</div><!-- Termina menu2 en panel derecho-->
</div>
{% endblock %}
