body { background: #8BC8EC;}

.box button, .login-switch, #facebox .closed, #sidebar-profile .widget .title.follow-button
{  background: #FF7400 !important;  }

#sidebar-profile .widget:hover {
	#sidebar-profile .widget .title {	opacity:0.5;}
}

.login-switch a { color: #2637DC; }

#content {
	-webkit-box-shadow: #244766 5px 5px 10px;
	-moz-box-shadow: #244766 10px 10px 10px;
	box-shadow: #244766 10px 10px 10px;
}

.avatar, #menu-left #id_posting { border-color: #94CBEC !important; }
a { color: #2396dc; text-decoration: none; font-weight: normal; }
a:hover { text-decoration: underline; }
