body {
	font-family: sans-serif;
	font-size: 13px;
}

.contentf .box {
	height: 200px;
	position: absolute;
	margin-top: 0px;
	top: 0;
	padding-top: 10px;
	font-size: 40px;
	background: #FFF;
	width: 570px;
}
.contentf .box alert {
	color:gray;
}

#facebox .closed img {
	display:none;	
}

#facebox .closed {
	display: none;
/*	position: absolute;
	display: inline-block;
	font-size: 27px;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	line-height: 17px;
	padding: 10px 18px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background: #2C3D4E;
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	left: 47%;
	margin-left: -43px;
	width: 115px;
	z-index: 1000;
	text-align: center;
	top: 168px;		*/
}

.contentf .box alert h2 {
	background: none;
	color: gray;
	border: none;
	padding: 0;
	margin-bottom: 16px;
	line-height: 39px;
	font-size: 40px;
}

.contentf .box alert p {
	text-align: center;
	width: 100%;
	font-size: 20px;
}
		
.section { 
	margin-bottom: 10px; }
	
.article { 
	margin-bottom: 10px; 
	border-bottom: 1px solid #eee; }	

.contentf h2 { 
	background: rgb(0,0,0) url(../images/board.png) no-repeat 40px 50%;	
	height: 20px;
	-webkit-user-select: none;
	font-size: 20px;
	line-height: 0px;
	margin-top:0px;
	color:white;
	padding: 15px 0px 0px 70px;
}

p {
	margin: 0 5px 0 0;
	width: 300px;
//	display: inline;
	float: left;
}



body.facebox #body { 
	position: relative; 
	margin: 0px auto 0px; 
	//width: 960px; 
	zoom: 1; 
	min-height:400px;
}

.form {
	//border: 2px solid #E2E2E2;
	width: 630px;
}

.contentf .form input, .contentf .form textarea{
	font-size: 16px;
	width: 280px;
}

.contentf .form .button {
	font-size: 20px;
	width: auto;
	margin-top: 15px;
	float: right;
	margin-right: 35px;
}

.contentf .form {
	border: 0px;}

li {
	color: red;
	text-align: right;
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:5px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);

}

.contentf { 
	padding: 0px; 
	background: #fff; 
	/*min-height: 500px; */
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	//border-radius: 6px; 
	zoom: 1; 

}

.contentf iframe {
	border:0px;
}


#facebox .contentf > p:first-child{
  margin-top:0;
}
#facebox .contentf > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .closed img{
  opacity:0.3;
}
#facebox .closed:hover img{
  opacity:1.0;
}


#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  opacity: 0.5 !important;  

}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 29;

}

/*#id_start_date, .id_start_date{
	left: 0px;
	margin-left: 105px;
	width: 175px;
}*/

#cleditorMain {
	/*float: none;*/
}

.right {
	margin-left: 110px;
	width: 170px;
}

.contentf .form .right input, .contentf .form .right label{
	width: 170px;
	display: block;
}

.contentf .tabbed_content ul#nav-menu {
	padding: 5px 6px 0px 10px;
	margin: -8px -5px 3px;
}

.contentf #nav-menu li{
	
}

.contentf #nav-menu { margin-top: -8px; margin-bottom:2px;}

.contentf #nav-menu .current a, .contentf #nav-menu li:hover > a {
	height: 11px;
}

.contentf #nav-menu li{
	padding-bottom: 3px;
}


.editprofile-facebook .closed {
	display:none !important;
}

.editprofile-facebook .close { 
	display:block !important;
}

.tab_content {
	height: 327px;
	width: 644px;
	border: 1px solid black;
	padding-top: 5px;
	
}

.wrapper-form h1 {
	margin: 0px;
	font-size: 12px;
	width: 88px;
	float: left;
	position: relative;
	top: 5px;
	
}

.wrapper-form textarea {
	padding: 6px;
	height: 30px;
	width: 83%;
	
}

.wrapper-form input {
	
}


form#message-send fieldset {
    border: none;
	width:100%;
}

input#id_to, input#id_to:hover, input#id_to:active, input#id_to:focus {
	padding: 0 4px 5px;
	margin: 4px 0 0 -1px;
	text-align: left;
	font-size: 1.15em;
	font-weight: bold;
	display: block;
	width: 101%;
}

 textarea#id_body.message {
	width: 92%;
	height: 67px;
	margin: 0px 25px;
	font-size: 1.2em;
}

form#message-send input[type="submit"] {
	float: right;
}

form#message-send {
	width: 616px;
}

form#message-send fieldset #message-title{
	font: normal normal normal 1.05em/normal 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	margin: 0px 27px 10px;
} 

.contentf #redirect {
	position:absolute;
	top: 35%;
	left: 30%;
//	background: url('/static/images/blufrog.jpg');
}

.contentf #redirect #text {
	display: block;
	width: 303px;
	position: absolute;
	top: 26%;
	left: 112%;
	font-size: 1.8em;
	color: gray;
	text-align: center;
	font-weight: normal;
}

.ac_results ul li {
    padding:4px 10px; 
    border-top:solid 1px #dedede; 
    font-size:14px; 
    height:25px;
	color: black;
	text-align: left;
	background:#3b5998;
	color:white;
}

li.ac_even:hover {
    //background:#3b5998;
    color:#FFFFFF;
}

#facebox .message_form {
    width: 640px;
    height: 250px;
}