form {
	margin:10px;
/*	float: left;
	padding: 30px 35px 20px 35px; 
	margin: 10px 0 0 0;*/
}

form label{
	display: block;
	height: 19px;
}

form div.rowElem {
	clear:both;
	padding:4px 0px;
}

form input.button {
	/*float: right;*/
	margin-right: 20px;
}

input, textarea, #social-form-container .media-content.status textarea {
	border: 1px solid #CCC;
	padding: 8px; 
	margin: 4px 0 20px 0; 
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#FBFBFB), to(#FFFFFF)); 
	background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE);
	width: 85%;
	font-size: 12px; 
	color: #555; 
	-webkit-transition: background 0.3s linear;	
	-moz-transition: background 0.3s linear;								
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	vertical-align: top;
	position: relative;	
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

input:hover, textarea:hover { background: #fafbfc;}

input:focus, textarea:focus {
	border: 1px solid #E6E6E6;
	background-position: #f9fbfd ;
	border-color: #ddd; 
    background-color: #fff; 
    color: #333; 
    outline: none;
    box-shadow: 0 0 6px rgba(249, 251, 253, 1);
    -webkit-box-shadow: 0 0 6px rgba(249, 251, 253, 1);
    -moz-box-shadow: 0 0 6px rgba(249, 251, 253, 1);
    transition: all 0.25s ease-in-out; 
    -webkit-transition: all 0.25s ease-in-out; 
    -moz-transition: all 0.25s ease-in-out;
}

button {
	float: right;
	margin-right: 10px !important;
}

.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(/static/images/forms/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}
a.jqTransformCheckbox {
	background: transparent url(/static/images/forms/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}


a.jqTransformChecked { background-position: center bottom;}

.jqTransformSelectWrapper {
	width: 45px;
	height: 31px;
	background: url(/static/images/forms/select_left.gif) no-repeat top left;
	float:left;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;

}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(/static/images/forms/select_right.gif) no-repeat center center;
	float: right;
}

.jqTransformSelectWrapper ul {
	position: relative;
	width: 43px;
	top: 0px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

.jqTransformHidden {display: none;}

.form-wapper, form p {
	width: 225px;
	float: left;
}

.form-wapper.date, .form-wapper.time {
	width: 93px;
	float: left;
	margin: 0 6px;
}

.form-wapper.time label {
	margin-bottom: 5px !important;
}
