#blogging  {
	margin-top: 2%;
	margin-left: 3%;
	width: 57%;
	min-height: 500px;
	position: relative;
	margin-right: 0px;
	float: left;
}

#sidebar-profile, .profile, .clearfix, .card-profiles {
	width: 260px;
/*	border: 1px solid black;*/
}

#sidebar-profile {
	float: right;
	margin-right: 20px;
/*	margin-top: -130px;	*/
}

.card-profiles {
	height: 68px;
	float: left;
	margin: 15px 10px;
	width: 279px;
}

#sidebar-profile .widget, .card-profiles .widget {
	background: whiteSmoke;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FCFCFC',endColorstr='#ECECEC');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#FCFCFC),to(#E8E8E8));
	background: -moz-linear-gradient(270deg,#FCFCFC,#ECECEC);
	border-color: #EEE;
	border: 1px solid #E9E9E9;
	border-bottom-color: whiteSmoke;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	float: right;
	padding: 15px;
	margin-bottom: 15px;
	padding-bottom:0;
}

.card-profiles .widget {
	width: 93%;
	height: 100%;
	padding: 0px 10px 10px;
}

#sidebar-profile .widget .title {
	height: auto;
	font: normal normal normal 21px/20px Helvetica;
	text-align: center;
	margin: -15px -15px 10px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;			
}

#sidebar-profile .widget .top-profile, .card-profiles .widget .top-profile {
	margin: -0px -10px 28px;
	padding: 5px;
	height: 67px;
}

#sidebar-profile .widget .top-profile img, #sidebar-profile .widget .top-friends img, #sidebar-profile .widget .top-followers img,
.card-profiles .widget .top-profile img { 
	background-color: #DDD;
	height: 64px;
    width: 64px;
	cursor: pointer;
}

#sidebar-profile .widget .top-friends img, #sidebar-profile .widget #followers .top-followers img
{
	height: 54px;
    width: 54px;
}

#sidebar-profile .widget .top-profile h1, #sidebar-profile .widget .top-profile h2, 
.card-profiles .widget .top-profile h1, .card-profiles .widget .top-profile h2, .card-profiles .widget .top-profile h3  {
	position: relative;
	left: 76px;
	width: 70%;
}

#sidebar-profile .widget .top-profile h1 { font-size: 20px; top: -69px; } 
.card-profiles .widget .top-profile h1 { font-size: 14px; top: -70px; 	color: #333;} 
#sidebar-profile .widget .top-profile h2 { font-size: 15px; top: -81px; color: #666; }
.card-profiles .widget .top-profile h2, .card-profiles .widget .top-profile h3 { font-size: 13px; top: -83px; color: #666; }
.card-profiles .widget .top-profile h3 a {
	font-size:10px;
}


#sidebar-profile .widget .body-profile h1, .card-profiles .widget .body-profile h1 {
	font-size: 12px;
	line-height: 15px;
}

#sidebar-profile .widget .body-profile h1 {
	
}

#sidebar-profile .widget .body-profile h2 {
	
}

.card-profiles .widget .top-profile h3 { top:-97px ;}

#sidebar-profile .widget .body-profile h2, .card-profiles .widget .body-profile h2 {
	margin: 0px;
    min-height: 13px;
	margin-bottom: 5px;
	font-size: 0.75em;
	font-weight: normal;
	margin-left: 58px;
	line-height: 13px;
	width: 209px;
	position: relative;
	margin-top: -13px;
}

#sidebar-profile .widget .body-profile, .card-profiles .widget .body-profile {
	color: #666;
	margin: 0px -4px;
}

.card-profiles .widget .body-profile {
	margin: -9px -2px;
}

#sidebar-profile .widget #friends .top-friends {

}

#friends {
/*	max-height: 310px;
	margin-bottom: 31px;*/
}

#my-profile {
	padding-bottom:15px;
}

#sidebar-profile .widget #friends .footer-friends, #sidebar-profile .widget #followers .footer-followers {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 2px 22px 10px;
	height: 12px;
	text-align: right;
	margin: 0 -16px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 13px;
	background: #DDD url(/static/images/addthis.png) 245px 4px no-repeat;
	padding-right: 47px;
	cursor: pointer;
}

#sidebar-profile .widget .footer-friends a, #sidebar-profile .widget .footer-followers a { text-shadow: 0 1px 0 rgba(255, 255, 255, 1); color:#333;}
#sidebar-profile .widget .footer-friends a:hover, #sidebar-profile .widget .footer-followers a:hover { text-shadow: 0 1px 0 rgba(255, 255, 255, 1); font-weight:bold;
	text-decoration:none;}

#sidebar-profile .widget #followers .footer-followers, #sidebar-profile .widget #friends .footer-friends {
	margin-bottom: -3px;	
}

.vcard #sidebar-profile { 
/*	top: 125px; */
//	position:relative;
//	top: -123px;
}

.vcard .card-profiles {
	position:relative;
	top:-18px;
}

#sidebar-profile .widget .body-profile {
	
}

#sidebar-profile .widget .title.follow-button {
	cursor:pointer;
}

#edit-profile .inlineLabels {
	width: 624px;
	margin-top: -21px;
/*	border: none;  QUitar despues*/
}

#facebox #edit-profile .closed {
	
}

.slide_content {
	overflow: hidden;
	background-color: #000000;
	padding: 20px 0 20px 20px;
	position: relative;
	width: 600px;
}

.filter {
	position: absolute;
	top: 92%;
	margin-left: 5%;
}

.pagination {
	margin-left: 5%;
	width: 100%;
	margin-bottom: 2%;
}

.filter {
	top:13%;
	margin-left: 1%;
}

.disabled, .disabled:hover {
	cursor: default;
	opacity: 0.6;
}


.pagination .page, .pagination .prev, .pagination .next, .filter .page, .order h1 {
	color:white;
	padding: 2px 7px;
	border: 1px solid #4D90BA;
	border-radius: 4px;
	cursor: pointer;
	background: #4D90BA;
	box-shadow: 0 0.9px 5px rgba(0, 0, 0, 0.2);
	font-size: 12px;
}

.filter .page, .order h1  {
	font-size: 11px;
	padding: 2px 4px;
	font-weight: bold;
}

.pagination .current.page {
	font-size: 12px;
	color: #4D90BA;
	background: white;
	font-weight: bold;
}

.pagination .page:hover, .pagination .prev:hover, .pagination .next:hover {
	text-decoration:none;
}

.order {
	float:right;
	margin-right:10px;
}

.order h1 {
	width: 30px;
	text-align: center;
	float: right;
	margin: 0 6px 0 0;
}

.order h1 a {
	color:white;
	font-weight: bold;
	text-decoration: none;
}
.order h2, .filter h2 {
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
}

.profiles {
	min-height: 420px;
	margin-top: 3%;
	
}

.profiles a {
	text-decoration:none;
	cursor:pointer;

}

#sidebar-profile input.button.transition.orange,
#sidebar-profile a.button.transition.orange  {
	border-radius: 5px;
	-moz-border-radius: 5px;	
	-webkit-border-radius: 5px;	
	position: relative;
	top: 146px;
	font-size: 14px;
	text-decoration: none;
}


#sidebar-profile a.button.transition.orange.admin,
#sidebar-profile input.button.transition.orange {
    top: 153px;
}

#sidebar-profile input.button.transition.orange.follow,
#sidebar-profile a.button.transition.orange.follow {
	left: -13px;
	padding: 3px 10px;	
} 



#sidebar-profile a.button.transition.orange.unfollow {
	left: -16px;
	padding: 3px 6px;	
	font-size: 14px;	
}

/* profile edit form start */
#profile-avatar p {
    float: none;
}

#profile-avatar label {
    height: auto;
}

#my-profile img:hover {
    display: none;
}

.edit-info {
    visibility: hidden;
    background: url('/static/images/pencil.png') no-repeat top right;
    padding-right: 20px;
    float: right;
}
/* profile edit form end */
